*{
    margin: 0;
    padding: 0;
}

.bgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 939px;
}

.inputstyle{
    height: 30px;
    width: 200px;
}

.buttonstyle{
    height: 34px;
    width: 70px;
}
